<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
  <header class="article-header">
    <h1 itemprop="name">
    <%- partial('post/title', {class_name: 'article-title', type: type}) %>
    </h1>
  </header>
  <div class="article-info">
    <i class="fas fa-clock"></i> <%= __('publish') %> 
    <%- partial('post/date', {class_name: 'article-date'}) %>
  </div>
  <div class="article-tags clearfix">
    <%- partial('post/tags', {tags: post.tags}) %>
  </div>
  <div class="article-entry" itemprop="articleBody">
  <% if (post.excerpt && type != 'page'){ %>
    <%- post.excerpt %>
    <% if (type == 'index' && theme.excerpt_link){ %>
    <p class="article-more-link">
      <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
    </p>
    <% } %>
  <% } else { %>
    <%- post.content %>
  <% } %>
  </div>
</article>